<html style="" class="cors eventlistener multiplebgs opacity csspointerevents supports no-touchevents displaytable display-table fontface formvalidation cssanimations boxshadow boxsizing flexbox flexboxlegacy flexwrap csstransforms csstransforms3d csstransitions pointerevents gr__activitylove_com">

<head>
    <link rel="shortcut icon" href="//cdn.shopify.com/s/files/1/2382/1787/t/4/assets/favicon.png?10788485369310770327" type="image/png">
    <title>AM - Offer Page</title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="false" name="pop:active">
    <meta content="false" name="fomo:enabled">
    <meta content="exclude" name="notifyer">
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="CbHVp8g/OF9Gpci2jJK69kpZwaQscUgfmUZT1NATB7s5Jv4SGIk5NRDw4g1RjlvPtqbzJ/e9syQj1tqhLXujag==">
    <link rel="stylesheet" media="all" href="https://fonts.googleapis.com/css?family=Lato:400,900,700,700italic,900italic&amp;subset=latin">
    <link rel="stylesheet" media="all" href="https://oneclickupsell.zipify.com/assets/offer-548121cf0ee1dea5a9c5f22b2b4e755f3a6cb19adcb5aeeeaaa0972a9d8c68a8.css">
    <style type="text/css">
        html {
            padding: 0;
        }
    </style>
    <script src="//cdn.shopify.com/s/assets/themes_support/api.jquery-0ea851da22ae87c0290f4eeb24bc8b513ca182f3eb721d147c009ae0f5ce14f9.js"
        type="text/javascript"></script>
    <link rel="canonical" href="https://activitylove.com/apps/secure-checkout/previews/offer">
    <link type="image/x-icon" rel="shortcut icon" href="//cdn.shopify.com/s/files/1/2382/1787/t/4/assets/favicon.png?10788485369310770327">
</head>
<body style="background: #F2F2F2" data-gr-c-s-loaded="true">
    <header class="header-checkout" style="background: #ffffff;">
        <div class="container logo--center">
            <a class="themes_header_logo" href="https://activitylove.com">
                <img src="//cdn.shopify.com/s/files/1/2382/1787/files/LogoSample_ByTailorBrands_6e8ce046-c45b-48d8-a749-315c7f567895_1024x.png?10788485369310770327"
                    alt="activitylove" class="logo__image logo__image--medium">
            </a>
        </div>
    </header>
    <main class="uppsell-page">
        <div class="container">
            <div class="uppsell-list" id="product-list">
                <div class="product-list-wrap js-product-list-wrap preview">
                    <div class="wrapper">
                        <script>
                            console.log({{ product }});
                        </script>
                        <h3 class="tagline" style="color: #E5007E">Wait! Your order is not complete!</h3>
                        <h2 class="page-title hidden-on-thank">The Perfect Complement to Your Order</h2>
                        <p class="explanation hidden-on-thank">Add
                            <span class="product-name">{{ product.title }}</span> to your order now!</p>
                        <div class="single-btn-wrapper">
                            <div class="js-offerbtn-wrapper">
                                <a onclick="upsell()" class="btn btn-custom-add hidden-on-thank js-offer-btn word-wrap btn-size-medium" style="background-color: #2AB27B; color: #FFFFFF">Add to my order</a>
                                <div class="js-offerbtn-anchor"></div>
                            </div>
                        </div>
                        <div class="single-btn-wrapper">
                            <button class="btn btn-custom-add hidden-on-thank js-disable-when-offer no-thanks word-wrap btn-size-small" style="background-color: #bebebe; color: #FFFFFF"
                                type="button">No thanks, I'll pass</button>
                        </div>
                        <h4 class="discount hidden-on-thank" style="color: #E5007E">Order now!</h4>
                        <div class="product-wrapp">
                            <div class="product-img">
                                <img class="img-responsive"  src="{{ product.image.src }}"
                                    alt="71vcyuipu l. sl1001 4ccaab08 9758 49b9 8f0f efe697a8bcd6">
                            </div>
                            <div class="product-desc custom-html-block">
                                <h2>
                                    <span>
                                        <strong>LIMITED TIME ONLY: OVER 50% OFF TODAY</strong>
                                    </span>
                                </h2>
                                <p>
                                    <span>
                                        <span color="#ff0000">
                                            <b>Christmas is actually closer than you think!&nbsp;Need a gift?</b>
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <span color="#ff0000">
                                            <b>Need a kit for your own baking spree this holiday?</b>
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <span color="#ff0000">
                                            <b>We've just received our LAST shipment in for the rest of the holiday.</b>
                                        </span>
                                    </span>
                                </p>
                                <p>
                                    <span>
                                        <span color="#ff0000">
                                            <b>Don't miss this chance to get your hands on the #1 baking holiday gift in 2017!</b>
                                        </span>
                                    </span>
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    <strong>Description</strong>
                                    <span>&nbsp;</span>
                                </p>
                                <p>
                                    {{ product.body_html }}
                                </p>
                                <p>FAMILY SAFE HIGH QUALITY:
                                    <span></span>
                                    <span> Don`t risk buying a cheaper product, None of them match the quality and the diversity
                                        of ours. All of the tips and icing nozzles in this cake decorating set are made from
                                        food grade 304 stainless steel, BPA FREE, FDA FOOD GRADE MATERIALS APPROVED!</span>
                                </p>
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                <p>
                                    <img src="{{ product.image.src }}"
                                        alt="">
                                </p>
                                <p>&nbsp;</p>
                                <p>
                                    <strong>
                                        <span class="a-list-item">Buttercream Frosting Recipe Below:</span>
                                    </strong>
                                </p>
                                <p>
                                    <span class="a-list-item">
                                        <strong>Ingredients</strong>
                                        <br>- 1 Cup (230 grams) unsalted butter, softened to room temperature
                                        <br>- 3 cup (360 grams) powdered sugar
                                        <br>- 2-3 tablespoons heavy cream or heavy whipping cream
                                        <br>- 1 teaspoon vanilla extract
                                        <br>- Pinch of salt, adjust to taste
                                        <br>
                                        <br>
                                        <strong>Instructions</strong>
                                        <br>1. beat the butter on medium speed until smooth
                                        <br>2. add powdered sugar and mix on low speed to start, then increase to medium speed
                                        and continue mixing for another 1-2 minutes until the mixture starts to come together
                                        <br>3. Add in the heavy cream (start with 2 tablespoons and add a little more if needed),
                                        vanilla extract and salt and continue mixing on medium-high speed for another minute
                                        or until everything is well combined, scraping down the sides of the bowl as needed</span>
                                </p>
                                <p>
                                    <span class="a-list-item">EASY ENOUGH RIGHT?</span>
                                </p>
                                <p>
                                    <img src="https://cdn.shopify.com/s/files/1/1864/1561/files/HTB1OWtklHsTMeJjSszhq6AGCFXac_large.jpg?v=1507869025" alt="">
                                </p>
                                <p>
                                    <strong>**WARNING**
                                        <br>
                                        <span>There are many sellers copying our products and selling them at a very low price.
                                            After investigating, we have found that these sellers are producing copies with
                                            cheap non-food grade materials. Our nozzles and cutters are all made of high-quality
                                            food grade 304 stainless steel (18/8). Please do not fall into buying fake cheap
                                            nozzles.&nbsp;</span>
                                    </strong>
                                </p>
                                <div>
                                    <div>
                                        <div></div>
                                        <div></div>
                                        <div>
                                            <strong>
                                                <span>Your purchase is backed by a 30-Day Guarantee!
                                                    <br>**Tracking Provided**
                                                    <br>
                                                    <br>
                                                </span>
                                            </strong>
                                        </div>
                                        <div>
                                            <img src="https://cdn.shopify.com/s/files/1/1864/1561/files/Yes_We_Vibe_-_Trust_Badge_95154b8e-d9af-468f-816a-177a97115e62.png?v=1497237749"
                                                alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="variants">
                            <form id="offer_form" data-productid="89193578509" class="simple_form checkout" action="" accept-charset="UTF-8" method="post">
                                <input name="utf8" type="hidden" value="✓">
                                <input type="hidden" name="authenticity_token" value="12AANf8mgOhvDazCSOr/vPWTIL9DOT6ATMWMxcDxd8OstQLbcggHrQStjbKKcDV1V3x5nJc6kks9PKISKFjSvg==">
                                <input type="hidden" name="checkout_signature" id="checkout_signature" value="">
                                <input value="89193578509" type="hidden" name="checkout[product]" id="checkout_product">
                                <input type="hidden" name="checkout[offer]" id="checkout_offer">
                                <input value="" type="hidden" name="checkout[ga_client_id]" id="checkout_ga_client_id">
                                <input type="hidden" name="locale" id="locale" value="shopify">
                                <input type="hidden" name="primary_locale" id="primary_locale" value="en">
                                <div class="form-horizontal padding-sides-sm clearfix">
                                    <select class="product-single__variants" data-productid="89193578509" id="checkout_variant" name="id" style="display: none;">

                                        <option selected="selected" data-sku="" value="715639848973">Default Title - $1 USD </option>
                                    </select>
                                </div>
                                <button class="hidden" id="offer_form_submit" name="offer_form_submit" type="submit">submit</button>
                            </form>
                        </div>
                        <div class="discount-status-block">
                            <div class="discount-price-block js-discount-price-block">
                                <div class="current-price-block">
                                    {% for variant in product.variants %}
                                        <span class="ocu-current-price default">${{ variant.price }} </span>
                                    {% endfor %}
                                    <span class="ocu-current-price variant hidden"></span>
                                </div>
                                <div class="price-totals-block js-price-totals-block hidden"></div>
                            </div>
                            <div class="single-btn-wrapper">
                                <div class="js-offerbtn-wrapper">
                                    <button class="btn btn-custom-add js-offer-btn word-wrap btn-size-medium" style="background-color: #2AB27B; color: #FFFFFF;"
                                        type="button" disabled="disabled">Add to my order</button>
                                    <div class="js-offerbtn-anchor"></div>
                                </div>
                            </div>
                            <div class="single-btn-wrapper">
                                <button class="btn btn-custom-add hidden-on-thank js-disable-when-offer no-thanks word-wrap btn-size-small" style="background-color: #bebebe; color: #FFFFFF"
                                    type="button">No thanks, I'll pass</button>
                            </div>
                            <p class="text-muted font-size-xs padding-top-xs js-optional-text hidden">Please choose all product options
                                <br> above for final price.</p>
                        </div>
                        <h3 class="discount-action-block hidden-on-thank" style="background-color: #E5007E">Order now!</h3>
                        <div class="single-btn-wrapper">
                            <div class="js-offerbtn-wrapper">
                                <button class="btn btn-custom-add hidden-on-thank js-offer-btn word-wrap btn-size-medium" style="background-color: #2AB27B; color: #FFFFFF;"
                                    type="button" disabled="disabled">Add to my order</button>
                                <div class="js-offerbtn-anchor"></div>
                            </div>
                        </div>
                        <div class="single-btn-wrapper">
                            <button class="btn btn-custom-add hidden-on-thank js-disable-when-offer no-thanks word-wrap btn-size-small" style="background-color: #bebebe; color: #FFFFFF"
                                type="button">No thanks, I'll pass</button>
                        </div>
                    </div>
                    <script src="//cdn.shopify.com/s/assets/themes_support/option_selection-ea4f4a242e299f2227b2b8038152223f741e90780c0c766883939e8902542bda.js"
                        type="text/javascript"></script>
                </div>
            </div>
            <footer class="wrapper footer hidden-on-thank">
                <div class="clearfix">
                    <a class="btn btn-link pass-link word-wrap js-disable-when-offer pull-right hidden-on-thank" id="no-thanks" data-url="#"
                        style="color: #0F50A6; font-size: 16pt;" href="#">no thanks, I'll pass</a>
                </div>
                <div class="footer-border"></div>
                <div class="custom-html-footer custom-html-block"></div>
                <p class="copyright text-center" style="color: #808080">© AM,&nbsp;2017</p>
            </footer>
        </div>
    </main>
    <script>function faviconHackFunc() {
            var faviconHack = document.createElement("link");
            faviconHack.setAttribute("type", "image/x-icon");
            faviconHack.setAttribute("rel", "shortcut icon");
            faviconHack.setAttribute("href", "//cdn.shopify.com/s/files/1/2382/1787/t/4/assets/favicon.png?10788485369310770327");
            document.head.appendChild(faviconHack);
        }

        window.onload = function () {
            faviconHackFunc();
        }</script>
     <script>
        function postAjax(url, data, success) {
            var params = typeof data == 'string' ? data : Object.keys(data).map(
                    function(k){ return encodeURIComponent(k) + '=' + encodeURIComponent(data[k]) }
                ).join('&');
    
            var xhr = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
            xhr.open('POST', url);
            xhr.onreadystatechange = function() {
                if (xhr.readyState>3 && xhr.status==200) { success(xhr.responseText); }
            };
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(params);
            return xhr;
        }
    
        function upsell() {
            let product_id = {{ product.id }}
            let params = JSON.stringify({ product_id: product_id });
            postAjax('https://fad8419c.ngrok.io/upsell', params , function(data){ 
                window.location.href = "/apps/am-secure?token=" + JSON.parse(data).id
            });
        };
        </script>
</body>

</html>